/* Reset */
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    line-height: 1.6;
    font-family: "Lato", sans-serif;
}
ol,
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
}
.section {
    padding: 75px 0;
}
.title {
    text-align: center;
    font-size: 3em;
    color: #2c363e;
    text-shadow: 0 1px 2px rgb(0 0 0 / 37%);
}
/* Style */

/* HEADER */
.top-header {
    background: #363d41;
    padding: 8px 0;
}
.container {
    width: 75%;
    margin: 0 auto;
}
.top-header .top__left .nav-link i {
    color: aliceblue;
    font-size: 1.6rem;
    margin-right: 12px;
    transition: 0.3s all;
}

.top-header .top__left .nav-link i:hover {
    color: #0077b5;
}
.top-header .top__right {
    text-align: right;
    align-items: center;
    color: aliceblue;
    font-size: 1.6rem;
}
.top__right i {
    color: aliceblue;
    line-height: 34px;
}
.header-nav {
    padding: 5px 0;
}
.header-nav .nav-left a {
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 6px;
    font-weight: 600;
}
.header-nav .nav-left a span {
    font-size: 3.8rem;
    color: #7f67f8;
}
.header-nav .nav-left a span + p {
    letter-spacing: 2px;
    margin-left: 3px;
    color: #868c94;
    line-height: 70px;
}
.nav-right {
    text-align: right;
}
.nav-right .navbar {
    margin-top: 14px;
}
.nav-right .navbar .nav-item,
.nav-right .navbar .nav-item + .nav-item {
    margin-right: 20px;
}
.nav-right .navbar .nav-item .nav-link {
    color: #363d41;
    font-weight: bold;
    font-size: 1.4rem;
    transition: 0.3s all;
    letter-spacing: 1.2px;
}
.nav-right .navbar .nav-item .nav-link:hover {
    color: #7f67f8;
}
.nav-right .navbar .navbar-collapse {
    justify-content: end;
}
.nav-right .dropdown .dropdown-menu {
    margin-top: 0;
    padding: 0.9rem 0;
    border-radius: 0.5rem;
    left: -8px;
}
.nav-right .dropdown .dropdown-menu li {
    line-height: 28px;
    width: 150px;
}
.nav-right .dropdown .dropdown-menu li:first-child {
    border-bottom: 0.8px solid rgba(0, 0, 0, 0.116);
    padding-bottom: 0.9rem;
}
.nav-right .dropdown .dropdown-menu li:last-child {
    padding-top: 0.9rem;
}
.nav-right .dropdown .dropdown-menu .dropdown-item {
    font-size: 1.6rem;
    letter-spacing: 1px;
    transition: 0.5s all;
    padding-left: 22px;
}
.nav-right .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #e9ecef7a;
}
.nav-right .navbar .nav-item .activeTabs {
    color: #7f67f8;
}
/* BANNER */
.banner {
    background-image: url("/img/b1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
    text-align: center;
}
.banner-wrap {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.37);
    height: 96vh;
}
.banner .banner-wrap .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
}
.banner .banner-wrap .container .owl-carousel {
    height: 205px;
}
.banner .banner-wrap .banner-item {
    color: white;
}
.banner .banner-wrap .banner-item h2 {
    font-size: 4.6rem;
    letter-spacing: 10px;
    margin-bottom: 20px;
}
.banner .banner-wrap .banner-item p {
    margin: 20px 110px;
    line-height: 30px;
}
.banner .banner-wrap .banner-item .banner-button {
    margin-top: 40px;
}
.banner .banner-wrap .banner-item .banner-button .btn-outline {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 34px;
    letter-spacing: 1px;
    transition: 0.4s all;
}
.banner .banner-wrap .banner-item .banner-button .btn-outline:hover {
    background-color: #7f67f8;
    border: 2px solid #7f67f8;
}
.banner .banner-wrap .banner-item .banner-button .btn {
    color: #fff;
    background-color: #7f67f8;
    padding: 9.2px 34px;
    transition: 0.4s all;
    letter-spacing: 1px;
    border: 2px solid transparent;
    font-size: 1.5rem;
    border-radius: 0;
    box-shadow: none;
    vertical-align: baseline;
    margin-left: 2px;
}
.banner .banner-wrap .banner-item .banner-button .btn:hover {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0;
}
.banner .banner-wrap .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 74px;
}
.banner .banner-wrap .owl-theme .owl-dots .owl-dot.active span {
    background-color: #fff;
}
.banner .banner-wrap .owl-theme .owl-dots .owl-dot span {
    height: 14px;
    width: 14px;
    background-color: #7f67f8;
}
/* WHAT YOU SECTION */
.what-you {
    text-align: center;
}
.what-you p {
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: #5e5e5e;
    line-height: 1.8em;
    letter-spacing: 1px;
}
.what-you hr {
    width: 75%;
    margin: 82px auto 40px;
    background-color: #969696;
    height: 1px;
}
.what-you .what-item i {
    font-size: 4rem;
    color: #f97c69;
}
.what-you .what-item h4 {
    font-size: 22px;
    color: #151515;
    letter-spacing: 0.075em;
    font-weight: 600;
    text-transform: capitalize;
    margin: 20px 0;
}
.what-you .what-item p {
    font-size: 15px;
    color: #777;
    font-weight: 400;
    line-height: 1.8em;
    width: 88%;
    margin-bottom: 0;
}

/* LAYOUT-BOTTOM */
.layout-bottom {
    background: url("/img/3.jpg");
    background-size: cover;
}
.layout-bottom .layout-content p {
    color: #fff;
    letter-spacing: 4px;
    font-size: 40px;
    font-family: "Roboto Condensed", sans-serif;
}
.layout-bottom .layout-content .btn-outline {
    color: #fff;
    background-color: #7f67f8;
    padding: 9.2px 34px;
    transition: 0.4s all;
    letter-spacing: 1px;
    border: 2px solid transparent;
    font-size: 1.5rem;
    border-radius: 0;
    box-shadow: none;
    vertical-align: baseline;
    margin-left: 2px;
    text-decoration: none;
    cursor: pointer;
}
.layout-bottom .layout-content .btn-outline:hover {
    background-color: #f97c69;
}

/* STATS */
.stats {
    text-align: center;
}
.stats .title {
    font-size: 40px;
    width: 65%;
    text-align: center;
    line-height: 1.2em;
    margin: 0 auto;
    color: #2c363e;
    text-shadow: 0 1px 2px rgb(0 0 0 / 37%);
}
.stats .title--under {
    font-size: 15px;
    color: #777;
    margin: 1em 0 5em;
    text-align: center;
}
.stats .stats-item p:nth-of-type(1) {
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 2px;
    color: #f97c69;
    margin: 0 0 0.2em 0;
}
.stats .stats-item p:nth-of-type(2) {
    font-size: 20px;
    color: #2c363e;
    letter-spacing: 2px;
    font-weight: 600;
}
.stats .stats-item p:nth-of-type(3) {
    font-size: 15px;
    margin-top: 0.8em;
    color: #777;
}

/* SERVICES */
.services {
    background: url("/img/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.services .title {
    text-align: center;
    font-size: 3em;
    color: #2c363e;
    text-shadow: 0 1px 2px rgb(0 0 0 / 37%);
    color: #fff;
}
.services .title--under {
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: #5e5e5e;
    line-height: 1.8em;
    letter-spacing: 1px;
    color: #fff;
}
.services .services-content .services-items:nth-child(1) {
    background-color: #f97c69;
    padding: 40px 34px;
    color: #fff;
}
.services .services-content .services-items:nth-child(1) i {
    font-size: 3em;
    color: #fff;
}
.services .services-content .services-items:nth-child(1) h5 {
    text-transform: capitalize;
    font-size: 1.5em;
    margin: 1em 0;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff;
}
.services .services-content .services-items:nth-child(2) {
    background-color: #fafafa;
    padding: 40px 34px;
    color: rgb(0, 0, 0);
}
.services .services-content .services-items:nth-child(2) i {
    font-size: 3em;
    color: #f97c69;
}
.services .services-content .services-items:nth-child(2) h5 {
    text-transform: capitalize;
    font-size: 1.5em;
    margin: 1em 0;
    letter-spacing: 2px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.services .services-content .services-items:nth-child(3) {
    background-color: #f97c69;
    padding: 40px 34px;
    color: #fff;
}
.services .services-content .services-items:nth-child(3) i {
    font-size: 3em;
    color: #fff;
}
.services .services-content .services-items:nth-child(3) h5 {
    text-transform: capitalize;
    font-size: 1.5em;
    margin: 1em 0;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff;
}
.services .services-content .services-items:nth-child(4) {
    background-color: #fafafa;
    padding: 40px 34px;
    color: rgb(0, 0, 0);
}
.services .services-content .services-items:nth-child(4) i {
    font-size: 3em;
    color: #f97c69;
}
.services .services-content .services-items:nth-child(4) h5 {
    text-transform: capitalize;
    font-size: 1.5em;
    margin: 1em 0;
    letter-spacing: 2px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.services .services-content .services-items:nth-child(5) {
    background-color: #f97c69;
    padding: 40px 34px;
    color: #fff;
}
.services .services-content .services-items:nth-child(5) i {
    font-size: 3em;
    color: #fff;
}
.services .services-content .services-items:nth-child(5) h5 {
    text-transform: capitalize;
    font-size: 1.5em;
    margin: 1em 0;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff;
}
.services .services-content .services-items:nth-child(6) {
    background-color: #fafafa;
    padding: 40px 34px;
    color: rgb(0, 0, 0);
}
.services .services-content .services-items:nth-child(6) i {
    font-size: 3em;
    color: #f97c69;
}
.services .services-content .services-items:nth-child(6) h5 {
    text-transform: capitalize;
    font-size: 1.5em;
    margin: 1em 0;
    letter-spacing: 2px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
